@import "material-icons/iconfont/material-icons.css";
@import "tailwindcss";

.comfyStrategy {
  .mainBackground {
    @apply bg-[#202020] flex items-center justify-center min-h-screen flex-col;
  }

  .kcLabelClass {
    @apply text-base text-[#f2ff59];
  }

  .kcInputClass {
    @apply border-2 rounded-lg border-[#202020] bg-[#2a2a2a] mt-2 mb-2 p-2 flex-1 text-white;
  }

  .kcFormSettingClass {
    @apply text-base text-[#f2ff59];
  }

  .kcFormOptionsWrapperClass {
    @apply self-end underline;
  }

  .kcInputGroup {
    @apply flex flex-row;
  }

  .kcFormGroupClass {
    @apply flex flex-col;
  }

  .kcFormButtonsClass {
    @apply flex;
  }

  .kcFormPasswordVisibilityButtonClass {
    @apply justify-end;
  }
  .kcFormPasswordVisibilityIconShow::before,
  .kcFormPasswordVisibilityIconHide::before {
    font-family: "Material Icons";
    @apply text-2xl text-[#f2ff59] not-italic m-4;
  }

  .kcFormPasswordVisibilityIconShow::before {
    content: "visibility";
  }

  .kcFormPasswordVisibilityIconHide::before {
    content: "visibility_off";
  }

  .kcInputErrorMessageClass {
    @apply text-red-400 text-sm mb-4;
  }

  .kcButtonClass {
    @apply mt-2 mb-2 text-[#202020] bg-[#f2ff59] border-2 border-[#202020] rounded-lg p-2 cursor-pointer transition-colors flex-1;
  }

  .kcButtonClass:hover {
    @apply bg-[#202020] text-[#f2ff59] border-[#f2ff59] border-2;
  }

  .messageIcon::before {
    font-family: "Material Icons";
    content: "notifications";
    @apply text-2xl text-red-400 not-italic mr-2;
  }

  .kcInputWrapperClass {
    @apply flex;
  }

  .kcFormOptionsWrapperClass {
    @apply flex;
  }

  input[type="checkbox"] {
    @apply appearance-none mr-1 w-4 h-4 border-2 border-[#f2ff59] rounded-sm bg-transparent cursor-pointer relative align-middle transition;
  }

  input[type="checkbox"]:checked {
    @apply bg-[#f2ff59];
  }

  input[type="checkbox"]::after {
    @apply scale-0 transition;
  }

  input[type="checkbox"]:checked::after {
    content: "check";
    font-family: "Material Icons";
    @apply absolute inset-0 flex items-center justify-center text-[#202020] text-xs scale-100;
  }
}
