@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

.testStrategy {
  .kcLabelClass {
    @apply text-base text-amber-200;
  }

  .kcInputClass {
    @apply border-2 rounded-md border-black bg-amber-50 mt-2 mb-2 p-2 flex-1;
  }

  .kcInputGroup {
    @apply flex flex-row;
  }

  .kcFormGroupClass {
    @apply flex flex-col;
  }

  .kcFormPasswordVisibilityButtonClass {
    @apply justify-end;
  }
  .kcFormPasswordVisibilityIconShow::before,

  .kcFormPasswordVisibilityIconHide::before {
    font-family: 'Material Icons';
    @apply text-2xl text-amber-200 not-italic m-2;
  }

  .kcFormPasswordVisibilityIconShow::before {
    content: 'visibility';
  }

  .kcFormPasswordVisibilityIconHide::before {
    content: 'visibility_off';
  }

  .kcInputErrorMessageClass {
    @apply text-red-500;
  }
}